body {
	background: LightGray;
}
div{
	border: 1px;
}
/* Navigation Section*/

.top-navigation {
	background-color: #fff;
	float: right;
}
.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}
.top-navigation .links {
	font-family: 'Roboto', sans-serif;
font-size: 16px;
color: #838994;
letter-spacing: 0.03em;
}
.top-navigation . links li {
	display: inline-block;
	margin-left: 25px;
}
.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
}
button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
}
.top-navigation . links li:hover {
	cursor: pointer;
	color: #333333;
}
.introduction {
    background-image: url('https://photos-3.dropbox.com/t/2/AAAHnoDl24t2-a8Ndn69NQRmzCuJSzpLjhPf3Xz3aa0lnw/12/357404183/jpeg/32x32/3/1454882400/0/2/first-background%20copy.jpg/ENSM5ecCGEsgAigC/KW8UftFosyCQF7X9rgCZFn7FVHUwtxuM6S4d-wOzxEc?size_mode=3&size=1280x960');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    margin:0 auto;
   
}
.cases .devices {
	width: 33.3333333%;
	display: inline-block;
	/* styles to assist with debugging */
	border: 1px solid black;
	box-sizing: border-box;
	height: 4em;
}