* {
	border-style: solid orange;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em
	-webkit-font-smoothing: antialiased;
}

.content-intro h1, .content-intro h3 {
	color:white;
	text-align: center;
	font-weight: 300;
}
.content-intro h1{
	font-size: 3.125rem;
	color: white;
	margin-top: 17.5rem;
}
.content-intro h3 {
	font-size: 1.563rem;
	margin-top: 1.25rem;
}
.introduction-intro {
	overflow: auto;
}
.introduction-devices h1 {
	text-align: center;
	font-size: 3.125rem;
	color: black;
	margin-top: 5rem;
	font-weight: 300;
}
.devices h2 {
	text-align: center;
	font-weight: 400;
	font-size: 1.563rem;
	margin: 2.5rem 0px 1.875rem;
	color: black;
}
.big-button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    display: block;
    margin: 0 auto;
    width: 9.688rem ;
    background-color: #f15a29;
    border-color: #f15a29;
    font-size: 1.125rem ;
    color: #fff ;
    margin-top: ;
    margin-bottom;
}
.big-button:hover {
    cursor: pointer;
    background-color: #D9400E;
}
.top-navigation {
	background-color: #fff;
}
.top-navigation > .content {
	height: 4.375rem;
}
.content{
	padding: 0px 15px;
	width: 60rem;
	margin: 0 auto;
}
.top-logo {
	height: 70px;
	padding-bottom: 0.5rem;
}
}
.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #838994;
    margin-top: 25px;
}
.top-navigation . links li {
	float: right;
	display: inline-block;
	margin-left: 25px;
}
.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
} 
.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}

.introduction-intro {
    background-image: url('http://thinkful-ed.github.io/karma-clone/img/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
   
}
.introduction-devices {
	width: 60rem;
    height: 4.375rem;
    margin: 0 auto;
    padding-bottom: 5rem;
    display: block;
    min-height: 27rem;
}
.devices {
	display: inline-block;
	width: 33.3333333%;
	float: left;
	text-align: center;
	height: 15rem;
	padding-bottom: 5rem;
}
.icon-devices {
	width: 7.938rem;
	height: 7.938rem;
	vertical-align: center;
	position: center;
	display: inline-block;
}
.introduction-social, .content-social{
	width: 60rem;
	height: 4.375rem;
	margin: 0 auto;
	padding-bottom: 5rem;
	text-align: center;
}
.content-social hr {
	border: 0;
	border-top: 1px solid #eaebec
    margin: 1.313rem 0;
}
.content-social p {
	color: black;
}

.icons-social {
	margin-left: -2rem;
	margin-top: -4rem;
}
.icons-social li {
    display: inline-block; 
    list-style-type: none;
    border-radius: 100%;
    border: 1px solid #eaebec;
    height: 2.5rem;
    width: 2.5rem;
    margin: 5rem 0.5rem;
    padding: 0.625rem 0;  
    text-align: center;
}



.icons-social li:nth-child(1) {  
  color: #55acee;
}

.icons-social li:nth-child(2) {  
  color: #4c66a4;
}

.icons-social li:nth-child(3) {  
  color: #3f729b;
}

.copy {
    margin-top: -20;   
}